﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Http404ErrorPage.aspx.cs" Inherits="Reports_Crystal.Error.Http404ErrorPage" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head id="Head1" runat="server">
    <title>HTTP 404 Error Page</title>
</head>
<body style="background-color:beige">
    <form id="form1" runat="server">
        <div>
            <h2>HTTP 404 Error Page</h2>
            Page Not found<br />
            <br />
            Return to the <a href='Default.aspx'>Default Page</a>
        </div>
    </form>
</body>
</html>
